//@import "~flexboxgrid-sass/flexboxgrid";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$dark-grey: #333447;

$gray: #616161;
$l-gray: #9e9e9e;
$h-gray: #212121;

$green:#558b2f;