@import 'normalize';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 12px;
  font-weight: 400;
  color: $h-gray;
  background: #fafafa;
}

* {
  font-family: $font-family;
  line-height: $font-height;
}

// typography

.title {
  font-weight: 700;
  font-size: 2.5rem;
}

.subtitle {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.f-light {
  font-weight: $font-weight-light;
}
 
.f-regular {
  font-weight: $font-weight-regular;
}
 
.f-bold {
  font-weight: $font-weight-heavy;
}
.f-muted {
  color: $l-gray;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0;
}

